.password-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.password-form mat-form-field {
  width: 30em;
  margin-bottom: 5em;
}


h1 {
  font-size: 2em;
  margin-bottom: 1.5em;
  font-weight: bold;
}
