<div class="password-container">
  <h1>Password reset</h1>
  <form (ngSubmit)="submitForm()" [formGroup]="passwordsForm" class="password-form">
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" matInput>

      <mat-error *ngIf="passwordsForm.controls.password.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>

      <mat-error *ngIf="passwordsForm.controls.password.hasError('minlength')">
        Password must have <strong>15 characters minimum</strong>
      </mat-error>

      <mat-error *ngIf="passwordsForm.controls.password.hasError('maxlength')">
        Password must have <strong>30 characters maximum</strong>
      </mat-error>

      <mat-error *ngIf="passwordsForm.controls.password.hasError('minentropy')">
        Password is <strong>too weak</strong>
      </mat-error>

      <mat-error *ngIf="passwordsForm.controls.password.hasError('regex')">
        Password must contain at least <strong>1 lowercase letter, 1 uppercase letter, 1 digit and
      1 special character (!{{"@"}}#$%^&amp;*()\-_+={{"{"}}\[\]{{"}"}}:;"'\\|&lt;,&gt;.?/)</strong>
      </mat-error>

    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat your password</mat-label>
      <input formControlName="repeatPassword" matInput>
    </mat-form-field>

    <mat-error *ngIf="passwordsForm.hasError('mismatch')">
      Passwords must <strong>match</strong>
    </mat-error>

    <button [disabled]="passwordsForm.invalid" mat-raised-button color="primary">Submit</button>

    <mat-spinner [diameter]="50" *ngIf="isWaiting"></mat-spinner>
  </form>
</div>
